*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f3f3f3;
}

h3{
  text-transform: capitalize;
}

.Board{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Board .column{
  width: 30%;
  padding: 10px;
}

.itemContainer{
  width: 100%;
  padding: 16px;
  background-color: rgb(74, 99, 219);
  border-radius: 7px; 
  min-height: 120px;
}

.item{
  margin-bottom: 16px;
  color: #383838;
  background-color: white;
  border: 1px solid white;
  padding: 24px 16px;
  margin-top: 8px;
  border-radius: 7px;
}

.itemInput{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.addBtn{
  width: 157px;
  height: 35px;
  background-color: transparent;
  font-size: 1.4rem;
  text-align: center;
  margin-left: 8rem;
  margin-top: 24px;
  cursor: pointer;
}
.addBtn:hover{
  transition: all .5s linear;
  transform: scale(1.08);
}